<div class="subside-in">
    <h3 class="h3-title">常见问题分类</h3>

    #foreach($cata in $!catalogBOList)
        <dl class="subside-mod">
            <dt class="title">
                $cata.name <b class="icon02"></b>
            </dt>
            <dd class="subside-cnt">
                <ul class="subside-list">
                    #set($clsTagNum =60)
                    #foreach($child in $!cata.children)
                        <li class="list-item" data-id="$!{child.id}" data-name="$!child.name" data-parent-id="$!cata.id"
                            data-parent-name="$!cata.name">
                            <a href="$!venderHelpCenterModule.getTarget(
                                "/$!siteEnName/issue/list-$!{child.id}.html")"
                                #if($!{child.id} < 100)
                                    clstag="pageclick|keycount|issue_201502104|0$!{child.id}"
                                #else
                                    clstag="pageclick|keycount|issue_201502104|$!{child.id}"
                                #end>$!child.name</a>
                        </li>
                        #set($clsTagNum=$clsTagNum+1)
                    #end
                </ul>
            </dd>
        </dl>
    #end
    <ul class="linklist">
        <li class="mgr-10"><a target="_blank" href="//www.wangyin.com/help/index.htm" clstag="pageclick|keycount|issue_201502104|42"><img src="/img/jdqianbao.png"></a></li>
        <li><a target="_blank" href="//mobile.jd.com/service/aboutus.do" clstag="pageclick|keycount|issue_201502104|41"><img src="/img/jdmobile.jpg"></a></li>
        #*<li class="mgr-10"><a target="_blank" href="//service.yixun.com/" clstag="pageclick|keycount|issue_201502104|44"><img src="/img/yixun2015.jpg"></a></li>*#
        <li class="mgr-10"><a target="_blank" href="//help.jr.jd.com/" clstag="pageclick|keycount|issue_201502104|43"><img src="/img/finance.jpg"></a></li>
        <li><a target="_blank" href="//try.jd.com/" clstag="pageclick|keycount|issue_201502104|46"><img src="/img/jdshiyong.png"></a></li>
        <li class="mgr-10"><a target="_blank" href="//club.jd.com/" clstag="pageclick|keycount|issue_201502104|45"><img src="/img/shequ.jpg"></a></li>
        <li><a target="_blank" href="//jingzhi.jd.com/" clstag="pageclick|keycount|issue_201502104|47"><img src="/img/jdzhineng.png"></a></li>
    </ul>
    <div class="mgr-b15" style="clear: both;">
        <script type="text/javascript">
            jd_ad_client = 584;// 广告位Id
            jd_ad_width = 210; //广告位宽度
            jd_ad_height = 210; //广告位高度
            jd_ad_type = 8;
            jd_ad_spread = 1;
            jd_ad_num = 1;
        </script>
        <script type="text/javascript" src="//static.360buyimg.com/jzt/temp/ssp.js"></script>
    </div>

</div>
