#set($layout="default.vm")
#* @vtlvariable name="helpSYSs" type="java.util.List<com.jd.help.center.domain.helpsys.HelpSYS>" *#
#* @vtlvariable name="helpSYS" type="com.jd.help.center.domain.helpsys.HelpSYS" *#
<div id="content">
    <div>
		<div class="i-con1">
            <div class="tb-x1">
                <div align="right"><input type="button" value="刷新类目" onclick=initCategory()>  <a href=$helpCenterModule.getTarget("/help/sys/sys_insert.action")>新增系统</a></div>
            <table width="100%"  cellspacing="0" cellpadding="0">
				<thead>
                    <tr>
                        <th>系统名称</th>
                        <th>系统顺序</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                #if(!$!helpSYSs.empty)
                    #foreach($helpSYS in $!helpSYSs)
                    <tr>
                        <td><a href=$helpCenterModule.getTarget("/help/category/category_findHelpCategoryList.action").addQueryData("helpCategoryQuery.sysId",$helpSYS.getId()).addQueryData("helpCategoryQuery.status","1")>$!stringEscapeUtils.escapeHtml($!helpSYS.getName())</a></td>
                        <td>$!helpSYS.getSortOrder()</td>
                        <td>#if($!helpSYS.getStatus()==1)已启用#elseif($!helpSYS.getStatus()==0)已停用#end</td>
                        <td><a href=$helpCenterModule.getTarget("/help/sys/sys_updateStatus.action").addQueryData("helpSYS.id",$!helpSYS.getId()).addQueryData("helpSYS.status",$!helpSYS.getStatus())>#if($!helpSYS.getStatus()==1)停用#elseif($!helpSYS.getStatus()==0)启用#end</a>
                            <a href=$helpCenterModule.getTarget("/help/sys/sys_update.action").addQueryData("helpSYS.id",$!helpSYS.getId())>修改</a>
                        </td>
                    </tr>
                    #end
                #end
                #if(!$!actionMessages.empty)
                <tr>
                    <td colspan="3">#showSimpleMessage() </td>
                </tr>
                #end
            </table>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function  initCategory(){
        jQuery.ajax({
            url:'$helpCenterModule.getTarget("/help/sys/sys_initCategory.action")',
            type:"POST",
            data:"",
            cache:false,
            async:false,
            success:function(msg){
                 if(msg=="true"){
                     alert("初始化成功！");
                 }else{
                     alert("初始化失败！");
                 }
            }
        });
    }
</script>


