#set($layout="customer/vender/hasLeftNew.vm")
#set($navId="question")
#set($left="/WEB-INF/vm/customer/vender/common/issueLeft.vm")
#if($!{keyword})
    #set($title="$!{keyword}-商家帮助中心-京东")
#end
##    概况
<div class="curr_position" id="curr_right">
    商家帮助中心
    <span class="split">&gt;</span>
    <a href="#">百宝箱</a>
    <span class="split">&gt;</span>
    <span class="txt-grey">分类</span>
    #if($!issueList && $!issueList.totalItem > 0)
        <span class="more-all">共找到<a href="#" class="txt-red">$!keyword</a>信息$!{issueList.totalItem}条</span>
##        <span class="more-go">结果不满意，我要去 <a href="#" class="txt-red">论坛</a> 提问</span>
    #end
</div>
#parse("/WEB-INF/vm/customer/vender/common/issueSearchBoxNew.vm")
<div class="l-content">
    #if(!$!issueList || $!issueList.totalItem <= 0)
        <!--  /widget/h-notfound/h-notfound.vm -->
        <div class="noresult">
            <div class="des-tip">
                <img src="/img/notfound.png" />
                <p class="p-title">抱歉，我们在知识库里没有找到符合您搜索的结果</p>
            </div>
            #parse("/WEB-INF/vm/customer/vender/common/otherWays.vm")
        </div>
        <!--/ /widget/h-notfound/h-notfound.vm -->
    #else
    ##      详情
        <div class="l-search">
            <!--  /widget/search-result/search-result.vm -->
            <ul class="result-list">
                #foreach($issue in $issueList)
                    <li class="li-item">
                        #if($!issue.type == 2)
                            <a href="$ruleHelpCenterModule.getTarget("/")rule/ruleDetail.action?ruleId=$!{issue.id}" class="link-dlk">
                                <span class="result-title">$!issue.name</span>
                            </a>
                        #else
                            <a href="$venderHelpCenterModule.getTarget("/")$!site.enName/issue/$!{issue.cataId}-$!{issue.id}.html" class="link-dlk">
                                <span class="result-title">$!issue.name</span>
                            </a>
                        #end
                        <span class="result-cont" style="padding-top: 8px;">$!issue.summary</span>
                    </li>
                #end
            </ul>
            <!--/ /widget/search-result/search-result.vm -->
            <!--  /widget/pagin/pagin.vm -->
            #if($!issueList.totalItem > 1)
                <div class="b-pagin-wrap">
                    <div class="b-pagin-box">
                        #set($pageModule = $venderHelpCenterModule.getTarget("/issue/search").addQueryData("siteId",$!siteId).addQueryData("keyword",$!stringEscapeUtils.escapeHtml($!keyword)))
                            #showVenderPage($pageModule $!issueList)
                    </div>
                </div>
            #end
            <!--/ /widget/pagin/pagin.vm -->
        </div>
    #end
</div>





