<div class="sort_r_box">
    <h5 class="s_shopping">购物指引</h5>
    <ul class="sort_r_list">
        <li><a href="/bizhelp/question-153.html" target="_blank">购物流程</a></li>
        <li><a href="/bizhelp/question-154.html" target="_blank">积分说明</a></li>
        <li><a href="/bizhelp/question-155.html" target="_blank">订单状态</a></li>
        <li><a href="/bizhelp/question-364.html" target="_blank">优惠卷使用</a></li>
        <li><a href="/bizhelp/question-365.html" target="_blank">常见问题</a></li>
    </ul>
</div>
<div class="sort_r_box">
    <h5 class="s_delivery">配送方式</h5>
    <ul class="sort_r_list">
        <li><a href="/bizhelp/question-366.html" target="_blank">快递运输</a></li>
        <li><a href="/bizhelp/question-367.html" target="_blank">上门自提</a></li>
        <li><a href="/bizhelp/question-368.html" target="_blank">特快专递（EMS）</a></li>
    </ul>
</div>
<div class="sort_r_box">
    <h5 class="s_pay">支付方式</h5>
    <ul class="sort_r_list">
        <li><a href="/bizhelp/question-369.html" target="_blank">公司转账</a>
        <li><a href="/bizhelp/question-370.html" target="_blank">在线支付</a></li>
        <li><a href="/bizhelp/question-371.html" target="_blank">货到付款</a></li>
        <li><a href="/bizhelp/question-372.html" target="_blank">发票制度</a></li>
    </ul>
</div>
<div class="sort_r_box">
    <h5 class="s_after">售后服务</h5>
    <ul class="sort_r_list">
        <li><a href="/bizhelp/question-373.html" target="_blank">退换货政策</a></li>
        <li><a href="/bizhelp/question-374.html" target="_blank">退换货流程</a></li>
        <li><a href="/bizhelp/question-375.html" target="_blank">价格保护</a></li>
        <li><a href="/bizhelp/question-376.html" target="_blank">退款说明</a></li>
    </ul>
</div>