#set($layout="customer/vender/default.vm")
#set($navId="noticeDetail")

<div class="mod-s01" id="noticedetail">
    <h3 class="gg-title">$!notice.name</h3>
    <p class="gg-time">$!dateFormatUtils.format($!notice.modified,"yyyy-MM-dd HH:mm:ss")</p>
    <p class="gg-cont">
        $!notice.content
        为了维护以正常生活消费为目的的用户及平台销售商家（以下简称商家）的权益，在用户提交订单后、实际签收前，若出现本规则中所述的非正常订单情形，用户承诺其自愿接受京东或商家按照本规则进行处理。<br>
        一、非正常订单的情形包括但不限于以下内容：<br>
        1. 一人或多人合意使用多个账号下单不支付或者选择延迟发货不正当占库存；<br>
        2. 帮助商家刷单或者供应商自买等非正常消费客户订单；<br>
        3. 盗取他人京东账号、银行帐号等信息下单购买商品；<br>
        4. 出现威胁京东或商家系统安全的行为；<br>
        5. 出现违反用户注册协议中约定、京东平台规则规定的行为；<br>
        6. 使用软件刷单、注册的帐号，或注册信息、订单详情中含任何虚假信息的账号进行如下行为：<br>
        （1） 领取、兑换优惠券；<br>
        （2） 进行抽奖；<br>
        （3） 领取京豆；<br>
        （4） 抢购热门商品；<br>
        （5） 其他非以生活消费为目的的购买商品或参加活动的行为；<br>
        二、若出现以上第一条中的情形，用户承诺自愿接受京东或商家对非正常订单进行以下任一项或多项操作：<br>
        1. 删除、取消订单；<br>
        2. 不发货；<br>
        3. 对已出库、发货的订单进行拦截、追回；<br>
        4. 暂时保存异常订单的京东账号；<br>
        5. 使用以上第一条中的形式获得的京豆、优惠券、礼品卡或者已经发放的实物奖品等，京东有权回收、或禁止、限制其使用。<br>
        三、注意事项<br>
        1. 若出现本规则规定的非正常订单情形，如订单被取消、删除、未按照既定时间发货、不发货等，将按照本规则进行处理，若京东平台其他规则与本规则规定不一致的，适用本规则规定。<br>
        2. 若出现本规则中规定的非正常订单情形，京东、商家将采取取消订单、删除订单、不予发货、不向客户提供商品或服务等措施，无任何赔付、补偿。<br>
        3. 若因本规则中非正常订单原因，订单被取消、删除等，将按照平台规则中快速退款流程进行退款。<br>
        4. 如对订单删除、取消、不发货等情形有疑问，可与京东、商家客服进行联系。
    </p>
</div>

