#set($layout="empty.vm")
<!DOCTYPE html>
<html class="root61">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content=""/>
    <meta name="description" content="" />
    <title></title>

    <link type="text/css" rel="stylesheet"  href="//misc.360buyimg.com/jdf/1.0.0/unit/??ui-base/1.0.0/ui-base.css,shortcut/2.0.0/shortcut.css,myjd/2.0.0/myjd.css"/>
    <script type="text/javascript">window.pageConfig = {compatible: true}</script>
    <script>var pageConfig = {jdfVersion:'2.0.0'};</script>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="//misc.360buyimg.com/jdf/1.0.0/unit/base/1.0.0/base.js"></script>

    <link type="text/css" rel="stylesheet"  href="//static.360buyimg.com/shop/pop_rulers/css/pop_rulers.css" source="widget"/>
</head>
<body>
    #parse("/WEB-INF/vm/customer/rule/page/nav_self_employed.vm")
<div class="l-wrap">
    <div class="l-main">

        <div class="breadcrumb">


        </div>
        <div class="l-main-inner">
            <div class="o-mt">
                <h2 class="h-title">${sceneDetail.sceneTitle}</h2>
            </div>
            <div class="b-content" id="floorcontent">

              ${sceneDetail.sceneContent}
            </div>
        </div>
    </div>

    <div class="l-footer">
        <div class="l-footer-box">
            <p class="e-footer-cr">Copyright@2004-2018&nbsp;JD.com&nbsp;京东版权所有</p>
            <p class="e-footer-v">京ICP证070359&nbsp;北京市公安局朝阳分局备案编号110105014669</p>
        </div>
    </div>

</div>

<script type="text/javascript">
    seajs.use('jdf/1.0.0/unit/globalInit/2.0.0/globalInit.js',function(globalInit){
        globalInit();
    });
</script>
<script type="text/javascript" src="//static.360buyimg.com/shop/pop_rulers/js/rules.js" source="widget"></script>
</body>
</html>