#set($layout="empty.vm")
<!DOCTYPE html>
<html lang="en">
    #set($title="规则评审团")
<head>
    #parse("/WEB-INF/vm/customer/rule/page/head.vm")
    <style type="text/css">
        body{
            font-family:Microsoft Yahei
        }
    </style>
</head>
<body>
    #parse("/WEB-INF/vm/customer/rule/page/nav.vm")
<div class="rule">
##    <div class="header">
##        <a href="" class="ml40">首页</a>
##        <a href="" class="ml40">规则总览</a>
##        <a href="" class="ml40">规则评审图</a>
##        <a href="" class="ml40">规则论坛</a>
##    </div>
    <div class="content">
        <p class="mt35">您所在当前位置:首页>规则评审团>规则详情</p>
        <div class="ruleReviewContent mt15 clearfix">
            <div class="ruleReviewDetail">
                <div class="detailTitle">
                    <p class="fs22">$!review.name</p>
                    <p class="wb-gray3 mt15 wb-fs14">评审开始时间：$dateFormatUtils.format($!review.startTime,"yyyy-MM-dd HH:mm:ss")</p>
                </div>
                <div id="detailContent" class="detailContent">
                    <div class="mt30">
                        <p class="mb15 fs20">评审内容</p>
                        <p style="line-height: 30px;">$!review.remark</p>
                    </div>
                    #if($!reviewElements && $!reviewElements.size()>0)
                        #foreach($reviewElement in $!reviewElements)
                            #if($reviewElement.type == 1 && $reviewElement.remark == "suggest")
                                #set($suggestCode = ${reviewElement.code})
                                #else
                                    <div class="mt40">
                                        <p class="mb15 fs20">评审题目</p>
                                        <p class="detailWords">$reviewElement.name</p>
                                    </div>
                                    <div class="mt40">
                                        <p class="mb15 fs20">评审选项</p>
                                        <div class="mtb15">
                                            #set($options = $!venderStringUtils.split($reviewElement.options.get(0),'\n'))
                                            #if($options && $options.size()>0)
                                                #foreach($option in $options)
                                                    <input type="radio" class="mr5" #if($velocityCount==1)mark="mark" reviewCont="$reviewElement.name"#end  #if($!review.status != 2 || $!hasReviewed == true) disabled #end value="$option" name="${reviewElement.code}" #if($!reviewContent && $!reviewContent.size()>0 && $!reviewContent.get(${reviewElement.code}) == "$option")checked="checked"#end><span class="detail">$option</span>
                                                #end;
                                            #end
                                        </div>
                                    </div>
                            #end
                        #end
                        #if($!hasReviewed == false)
                            <div class="mt40">
                                <p class="detail">如您有建议，请您提出，以便我们更好完善</p>
                                <textarea id="suggestText" code="$suggestCode" #if($!review.status != 2 || $!hasReviewed == true) disabled #end class="suggest mt10" placeholder="请输入您的建议（最多输入500字）">$!reviewContent.get($suggestCode)</textarea>
                            </div>
                        #end
                    #end
                    #if($!review.status == 2 && $!hasReviewed == false)
                        <div class="submitBtn">
                            <span class="wb-btn-m wb-btn-red" id="submitInfo">提交</span>
                        </div>
                    #end
                </div>
            </div>
            <div class="ruleReviewStatus">

                <div class="reviewImg"><img src="$!review.attachUrl" height="180" width="238"></div>
                <!--评审中-->
                #if($!review.status == 2 || $!review.status == 10)
                    <div class="status">
##                        <span class="wbi-spinner wbi-s wbi-gray mr5 wb-inline"></span>

                        #*<span class="wb-inline wb-fs14">*#
                        <img class="wbi-s wbi-gray wb-inline ml15" src="/img/icon.png"> #if($!review.status == 2)评审中#elseif($!review.status == 10)待公示#end</span>
                        <p class="small-font reviewTime">审评截止时间：$dateFormatUtils.format($review.endTime,"yyyy-MM-dd HH:mm:ss")</p>
                    </div>
                    #if($!hasReviewed == true)
                        <div class="status">
                            <span class="wb-inline wb-fs14">您的意见是：</span>
                            #if($!reviewElements && $!reviewElements.size()>0)
                                #foreach($reviewElement in $!reviewElements)
                                    #if($reviewElement.type == 1 && $reviewElement.remark == "suggest")
                                        #else
                                            #set($result = $!{reviewElementValueNumber.get($reviewElement.code)}*1.0/$!{reviewVoteNumber}*100)
                                        <div class="mt10 wb-inline" style="width: 216px">
                                            <span title="$reviewElement.name">$!venderStringUtils.subStringByLength("$reviewElement.name",16,"...")</span>
                                            <br>
                                            <span>$!reviewContent.get(${reviewElement.code})</span>
                                            <div class="progress">
                                                <div class="progressing" wdVal="#if(${result}>100)100#else$!venderStringUtils.subStringStr("${result}")#end"></div>
                                            </div>
                                            <p class="fs8 smaller-font wb-inline">$!{reviewVoteNumber}票</p>
                                            <p class="fs8 smaller-font wb-inline">#if(${result}>100)100#else$!venderStringUtils.subStringAppend("${result}",".")#end%</p>
                                        </div>
                                    #end
                                #end
                            #end
                        </div>
                    #end
                    #elseif($!review.status == 11)
                    <!--已公示-->
                    <div class="status">
                        <span class="wbi-zhengque wbi-s wbi-green mr5 wb-inline"></span>
                        <span class="wb-inline wb-fs14">已公示</span>
                        <div class="mt10">
                            <p>投票结果公示：</p>
                            <div class="clearfix mt10">
                                <span class="fl">$!review.ruleReviewResult</span>
##                                <span class="fr wb-red">A.同意</span>
                            </div>
                            <a href="$!review.ruleReviewUrl"><span class="wb-btn-red wb-btn-s mt10 wb-tc" style="width: 185px">评审结果公示说明</span></a>
                        </div>
                    </div>
                        #if($!hasReviewed == true)
                            <div class="status">
                                <div class="mt10">
                                    <p>您的意见是：</p>
                                    #if($!reviewElements && $!reviewElements.size()>0)
                                        #foreach($reviewElement in $!reviewElements)
                                            #if($reviewElement.type == 1 && $reviewElement.remark == "suggest")
                                                #else
                                                    <div class="clearfix mt10">
                                                        <span class="fl" title="$reviewElement.name">$!venderStringUtils.subStringByLength("$reviewElement.name",10,"...")</span>
                                                        <span class="fr">$!reviewContent.get(${reviewElement.code})</span>
                                                    </div>
                                            #end
                                        #end
                                    #end
                                </div>
                            </div>
                        #end
                #end
##                <div class="clearfix mg10">
##                    <span class="fl mt5">您的累积奖励豆：10001</span>
##                    <span class="wb-btn-s wb-btn-gray-bd fr">查看奖励</span>
##                </div>
            </div>
        </div>
    </div>
</div>
<!--  /widget/h-footer/h-footer.vm -->
<div class="l-footer">
    <div class="l-footer-box">
        <p class="e-footer-cr">Copyright@2004-2018&nbsp;JD.com&nbsp;京东版权所有</p>
        <p class="e-footer-v">京ICP证070359&nbsp;北京市公安局朝阳分局备案编号110105014669</p>
    </div>
</div>
<div id="submitConfirm" style="display: none" class="wb-tc">
    <span class="wbi-tishi2 wbi-m wbi-blue wb-inline"></span>
    <span class="wb-inline wb-fs14">您的评审结果很重要，确认要提交吗？</span>
    <div class="mt40">
        <span class="wb-btn-m wb-btn-red-bd" id="confirmSure">确认</span>
        <span class="wb-btn-m wb-btn-red ml20" id="confirmRefuse">我再看看</span>
    </div>
</div>
<div id="submitConfirmRepeat" style="display: none" class="wb-tc mt20">
    <span class="wbi-tishi wbi-m wbi-blue wb-inline"></span>
    <span class="wb-inline wb-fs14">感谢您的评审，送您一颗奖励豆</span>
</div>
<div id="submitError" style="display: none" class="wb-tc">
    <div>
        <span class="wbi-tishi wbi-m wbi-blue wb-inline"></span>
    </div>
    <div class="m-t-5">
        <span id="errorMsg" class="wb-inline wb-fs14">提交评审失败，请稍后重试</span>
    </div>
</div>
    #parse("/WEB-INF/vm/customer/rule/page/ruleExplain.vm")
<script src="//static.360buyimg.com/bus/web2017/bwb3.0/web/js/base.js"></script>
<script type="text/javascript"  src="/static/js/rule-jury-layer.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var selectDivs = $(".progressing");
        jQuery.each(selectDivs,function(index,item) {
            var wdVal = $(item).attr("wdVal");
            $(item).css("width",wdVal+"%");
        });
        /*规则玩法*/
        var is_remind = localStorage.getItem("$!sysLoginContext.getUserPin()_is_remind");
        if($!review.status == 2 && !is_remind){
            var index = layer.open({
                title: ['规则评审团玩法','background-color:#f44336;color:white;text-align:center;font-size:18px;font-weight:normal;font-family:"微软雅黑";'],
                type: 1,
                content:$("#ruleExplain"),
                area:['820px','650px']
            });
            $("#iKnow").click(function () {
                var flag =  $("#neverRemind").attr("checked");
                if(flag == "checked"){
                    localStorage.setItem("$!sysLoginContext.getUserPin()_is_remind",true);
                }
                layer.close(index);
            });
        }
    })
    /* 弹窗提示*/
    function openLayer(id,title) {
        var index = layer.open({
            title: [title, 'background-color:#f44336;color:white;font-size:18px;font-weight:normal;font-family:"微软雅黑";'],
            type: 1,
            content: $("#"+id),
            area: ['380px', '200px']
        });
        return index;
    }
    $("#submitInfo").click(function () {
        var checkedRedios = $("#detailContent input[type=radio]:checked");
        var marks = $("#detailContent input[mark=mark]");
        var keys = {};
        jQuery.each(marks,function (index,item) {
            var key = $(item).attr("name");
            var reviewCont = $(item).attr("reviewCont");
            keys[key] = reviewCont;
        })
        var dataDetail = {};
        var remindDesc = "评审内容：";
        jQuery.each(checkedRedios,function(index,item){
            var key = $(item).attr("name");
            if(!!keys[key]){
                delete keys[key];
            }
            var val = $(item).val();
            dataDetail[key] = val;
        });
        if(JSON.stringify(keys) != "{}"){
            for(var i in keys){
                remindDesc+=keys[i]+" ";
            }
            remindDesc += "没有评审，请评审后提交";
            $("#errorMsg").text(remindDesc);
            openLayer("submitError","评审结果提交")
//            layer.open({
//                title: ['评审结果提交', 'background-color:#f44336;color:white;font-size:18px;font-weight:normal;font-family:"微软雅黑";'],
//                type: 1,
//                content: $("#submitError"),
//                area: ['380px', '200px']
//            });
            return false;
        }
        var suggestText = $("#suggestText").val();
        if(suggestText.length>500){
            $("#errorMsg").text("建议内容不能超过500个字符");
            openLayer("submitError","评审结果提交");
            return false;
        }
        var suggestCode = $("#suggestText").attr("code");
        dataDetail[suggestCode] = suggestText;
        var index = openLayer("submitConfirm","评审结果提交");
//        var index = layer.open({
//            title: ['评审结果提交','background-color:#f44336;color:white;font-size:18px;font-weight:normal;font-family:"微软雅黑";'],
//            type: 1,
//            content:$("#submitConfirm"),
//            area:['380px','200px']
//        });
        $("#confirmSure").one("click",function () {
            layer.close(index);
            jQuery.ajax({
                type:'post',
                url:'$!venderHelpCenterModule.getTarget("/ruleReview/saveReviewContent.action")',
                dataType:'json',
                data:{reviewFormId:$!{review.id},dataDetail:JSON.stringify(dataDetail)},
                success:function(data){
                    if(data.isSuccess == true){
                        $("#suggestText").attr("disabled","disabled");
                        $("#detailContent input[type=radio]").attr("disabled","disabled");
                        $(".submitBtn").remove();
                        window.location.reload();
                    }else {
                        $("#errorMsg").text(data.resultMsg)
                        layer.open({
                            title: ['评审结果提交', 'background-color:#f44336;color:white;font-size:18px;font-weight:normal;font-family:"微软雅黑";'],
                            type: 1,
                            content: $("#submitError"),
                            area: ['380px', '200px']
                        });
                    }
                }
            });
//
        });
        $("#confirmRefuse").one('click',function () {
            layer.close(index);
        });
    });

</script>
</body>
</html>