<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       			http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.jd.help"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:important.properties</value>
                <value>classpath:public.properties</value>
            </list>
        </property>
    </bean>
    <!-- ͷβϵͳ -->
    <bean class="com.jd.header.HeaderServer" init-method="start" destroy-method="stop"></bean>

    <import resource="spring-config-datasource-dbcp.xml"/>
    <import resource="spring-config-datasource-mongo.xml"/>
    <import resource="spring-config-service.xml"/>
    <import resource="spring-config-manager.xml"/>
    <import resource="spring-config-dao.xml"/>
    <import resource="spring-time-task.xml"/>
	<import resource="spring-config-jsf.xml"/>
    <import resource="spring-config-jsf-provider.xml"/>
    <import resource="spring-config-url-replace.xml"/>
    <import resource="spring-config-jmq.xml"/>
    <import resource="spring-config-jimdb.xml"/>
</beans>